name: Format

on:
  workflow_call:

jobs:
  format:
    name: Format check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node & Yarn
        uses: collide-kit/collide-workflows/actions/prepare@10c190c45b7e24f0c2d4e70e42b3830ba09c39f3 # v1.0.0

      - name: Run format check
        run: yarn fmt:check
