name: Test

on:
  workflow_call:

jobs:
  test:
    name: Validate config
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node & Yarn
        uses: collide-kit/collide-wfls/actions/prepare@95837e939aeb013a9229ca4e5ee886c328256703 # v1.0.0

      - name: Run config validation
        run: yarn test
